[submodule "Software/Software_ver_2/HAQuDA_Esp32/Core/arduino-esp32"]
	path = Software/Software_ver_2/HAQuDA_Esp32/Core/arduino-esp32
	url = https://github.com/arduino/arduino-esp32.git
[submodule "Software/Software_ver_2/HAQuDA_Esp32/Libs/NTPClient"]
	path = Software/Software_ver_2/HAQuDA_Esp32/Libs/NTPClient
	url = https://github.com/IlorDash/NTPClient.git
